div.todo {
  margin: 10px 0;
  padding: 10px;
  background-color: #C1F1FD;
  border: 1px #eee solid;    
}

div.todo-snapshot {
  margin: 10px 0;
  padding: 10px;
  background-color: #C1F1FD;
  border: 1px #eee solid;
}

button.destroy {  
  border-radius: 50%;
  margin-left: 10px;
  font-size: 14px;
  color: white;
  text-align: center;  
  background: #3498db;
  border: 0;
  border-bottom: 2px solid #BFCAD2;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #2a8bcc;  
}

.button.destroy:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

li.completed {
	text-decoration: line-through;	
}
