div.todo {
  margin: 10px 0;
  padding: 10px;
  background-color: #C1F1FD;
  border: 1px #eee solid;
  div.inline {
    display: inline-flex;
  }
  label {
    margin-right: 5px;
    cursor: pointer;
  }
  input[type='checkbox'] {
    margin-right: 10px;
    cursor: pointer;
  }
}

div.todo-snapshot {
  margin: 10px 0;
  padding: 10px;
  background-color: #C1F1FD;
  border: 1px #eee solid;
}

button.destroy {
  top: 6px;
  border-radius: 50%;
  margin-left: 5px;
  height: 15px;
  padding: 3px;
  margin-top: 0;
  line-height: 10px;
  border: 0;
  cursor: pointer;
}

.button.destroy:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

li.completed label {
	text-decoration: line-through;
}

.hidden {
  display:none;
}
