div.header {
	width: 100%;
	margin: 10px auto;
	text-align: center;
}

header {
	text-align: center;
	border-bottom: 2px solid #f4f4f4;
}

ul {
	list-style-type: none;
}

header li {
	display: inline;
	padding: 5px;
	border-left: 1px solid #eee;
}

li a {
	font-size: 0.8rem;
	text-transform: uppercase;
	text-decoration: none;
	color: #888;
}

img {
	margin: 0 10px;
}
