{
  "presets": ["es2015", "react"],
  "plugins": [
  	"transform-es2015-arrow-functions",
  	"transform-es2015-classes",
  	"transform-es2015-destructuring",
  	"transform-es2015-modules-commonjs",
  	"transform-es2015-object-super",
  	"syntax-decorators"
  ]
}