{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "globals": {
    "__DEV__": true,
    "__SERVER__": true
  },
  "ecmaFeatures": {
    "jsx": true
  },
  "rules": {
    // Strict mode
    "strict": [2, "never"],
    "no-underscore-dangle": true,
    "new-cap": true,
    // Code style
    "indent": [2, 2],
    "quotes": [2, "single"]
  }
}