div.home-section-actions {	
	padding: 10px;
  margin: 10px 0;
  background-color: #6DF6FF;
  border: 1px #eee solid;  
}

div.home-section-sub-part-one {
  margin: 10px 0;  
  padding: 10px;
  background-color: #C1F1FD;
  border: 1px #eee solid;  
  color: #000;
}

div.home-section-sub-part-two {  
  padding: 10px;
  background-color: #8EE7FD;
  border: 1px #eee solid;
  color: #000;
}
