$font-stack: Helvetica, sans-serif;
$primary-color: #aaa;

body {
	width: 750px;
	margin: auto;
	font: 100% $font-stack;
  color: $primary-color;
}

h1, h2, h3 {
	margin-top: 24px;
	margin-bottom: 12px;
}

div.main-content {
	-webkit-padding-start: 40px;
}

button {
  margin-right: 5px;
  font-size: 12px;
  color: white;
  text-align: center;
  background: #3498db;
  border: 0;
  cursor: pointer;
}

button:focus {
  outline: none;
  border-color: #53C1DE;
  box-shadow: 0 0 10px #53C1DE;
}

input {
  height: 20px;
  border: 1px;
  padding: 0px 10px;
}

input[type='checkbox'] {
  position: relative;
  top: 3px;
}

input:focus {
  outline: none;
  border-color: #53C1DE;
  box-shadow: 0 0 10px #53C1DE;
}

label {
  line-height: 25px;
}
